amqp
asgiref
beautifulsoup4
billiard
cachetools
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
cron-descriptor
cssselect
cssutils
dj-database-url
Django
django-background-tasks
django-celery-beat
django-dbbackup
django-environ
django-formtools
django-heroku
django-inlinecss
django-jazzmin
django-otp
django-phonenumber-field
django-timezone-field
django-two-factor-auth
djangorestframework
docopt
environ
future
gunicorn
idna
kombu
lxml
more-itertools
num2words
packaging
phonenumbers
pillow
premailer
prompt_toolkit
psycopg2
psycopg2-binary
pynliner
pypng
python-crontab
python-dateutil
python-decouple
pytz
qrcode
redis
requests
shortuuid
six
soupsieve
sqlparse
typing_extensions
tzdata
urllib3
vine
wcwidth
whitenoise
