{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/changepassword.css' %}">

    <title>Mountainviewprovince.com</title>
</head>
<body>
    <div class="change-pas-container">
        <div class="c-p-container">
            <div class="breadcrumb">
                <a href="javascript:history.back()">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="prev-icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                    </svg>
                </a>
                <p> Change Password </p>
            </div>
            <form id="change-password-form" class="sign-up-form" method="POST" action="{% url 'studentauth:change_password' %}" >
                    {% csrf_token %}
                {{form.as_p}}

                <div class="form-group">
                    <button type="submit" id="register-btn">Change Password</button>
                    <a href="#" id="prev-page">
                        Go back
                    </a>
                </div>
            </form>
            <span id="feedback-message"></span>
        </div>

            <script src="{% static 'scripts/changepassword.js' %}"></script>
    </div>
</body>
</html>
