{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/password-reset-success.css' %}">

    <title>Mountainviewprovince.com</title>
</head>
<body>
    <div class="reset-container">
        <div class="pr-icon">
            <img
                src="{% static 'images/password-success.png' %}"
                alt="message icon"
                class="password reset successful image"
            >
        </div>
        <div class="p-reset-content">
            <h2> Password Changed </h2>
            <p>
                Your password has been reset and changed successfully
            </p>
        </div>
        <div class="bottom-button">
           <button onclick="window.location.href='{% url 'studentauth:logout' %}'">
                Proceed to Login
            </button>

        </div>
    </div>
</body>
</html>