{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/checkmail.css' %}">
    <title>Mountainviewprovince.com</title>
</head>
<body>
    <div class="reset-container">
        <div>
            <div class="message-icon">
                <img
                    src="{% static 'images/msg_icon.png' %}"
                    alt="message icon"
                    class=""
                >
            </div>
            <div class="check-mail-content">
                <h2> Check your Mail </h2>
                <p>
                    We have sent you a password recover link with instructions to your email
                </p>
            </div>
            <div class="bottom-button">
                <button> Open Email App</button>
                <a href="#"> Skip, i'll confirm later </a>
            </div>
        </div>
        <div class="bottom-text">
            <p>
                Didn't recieve any mail? Check your spam filter
                or <a href="{% url 'studentauth:password_reset'  %}">try another email address</a>
            </p>
        </div>
    </div>
</body>
</html>