{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/mybooking.css' %}">

    <title>Mountainviewprovince.com</title>
</head>
<body>
    <div class="booking-container">
        <div class="booking-header-section">
            <div class="booking-header-content">
                <h2 class="explore-title">My Bookings</h2>
                <p>Select from list of available hostels</p>
            </div>
        </div>
        {% for b in booking %}
        <a href="{% url 'studentdashboard:booking_detail' b.booking_id %}">
        <div class="booked-section">
            <div class="booking-capsule">
                <div class="image-bar left-pill">
                    <img
                    class="m-img"
                    src="{{b.hostel.image.url}}"
                    alt="hostel's image"
                    loading="lazy"
                    >
                </div>
                <div class="booking-content right-pill">
                    <p> BOOKING ID: <span class="booking-id">{{b.booking_id}}</span></p>
                    <p>{{b.hostel}}</p>
                    <p>{{b.hostel_type}}</p>
                    <!--<p>{{b.date}}</p>-->
                    <div id="status">
                        {% if b.payment_status == 'Paid' %}
                        <span class="success status-bar">
                            <img
                            src="{% static 'images/tick-circle.png' %}"
                            alt="success icon"
                            loading="lazy"
                            class="icons"
                            >
                            PAID

                        </span>
                        {% else %}
                             <span class="pending status-bar">
                            <img
                            src="{% static 'images/timer.png' %}"
                            alt="success icon"
                            loading="lazy"
                            class="icons"
                            >
                            {{b.payment_status}}
                        </span>
                        {% endif %}

                    </div>

                </div>
            </div>
        </div>
            </a>
        {%endfor%}

    </div>
</body>
</html>