*,
::before,
::after{
    box-sizing: border-box;
  /* background-color: #F1F1F1; */
}
/* html{
  background-color: #F1F1F1;

} */
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
.p-info-container{
  /* background-color: #F1F1F1; */
    padding: 15px;
}
.font-sora{
    font-family: "Sora", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}
.border{
    border: 5px solid red;
}
.breadcrumb{
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    font-size: 18px;
}
.icons,.prev-icon{
    width: 15px;
    height: 15px;
}
.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 1.5rem 0rem;
}
.custom-select{
    width: 100%;
}
.select-selected{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 5px;
    /* background-color: #D9D9D9; */
    border: 1px solid #D9D9D9;
}
.select-selected:hover{
    border: 1px solid #863A0A;
    opacity: 1;
    box-shadow: none;
}
.select-hide,.not-expanded{
    display: none;
}
.select-items{
    width: 100%;
    height: auto;
    margin: 3px 0px;
    padding: 10px;
    border-radius: 5px;
    background-color:rgba(217, 217, 217, 1) ;
    /* border: 1px solid green; */
}
.select-items * {
 background: #D9D9D9;
}
.switch-icons{
    width: 15px;
    height: 15px;
    color: black;
}
.opt{
    padding: 5px;
}

.option:focus{
    border: 1px solid rgba(134, 58, 10, 1);
    background-color: rgba(172, 171, 171, 1);
}
.option:hover{
    background-color: #ACABAB;
    border-radius: 5px;
}
input,.select-selected p,.select-items div p {
    font-weight: 400;
    font-size: 12px;
    color: #282727;
}

.p-p{
    width: 100px;
    aspect-ratio: 1/1;
    position: relative;
    object-fit: center;
    object-position: cover;
    display: flex;
    justify-content: center;
}
.p-p img{
    border-radius: 50%;
}
label{
    font-weight: 600;
    font-size: 12px;
}
input{
    padding: 15px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 12px;
    border: 1px solid #D9D9D9;
    outline: none;
}
input:focus{
    border: 1px solid #863A0A;
}
.input-has-value {
    background-color: #E9D3C5;
}
.select-has-value {
    background-color: #E9D3C5;
}
.room-details-content,.payment-details-content{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #A19B9B;
    background-color:#F0EBE8;
}
#n-bed,#room-cat,
#b-rate,#room-no,
#n-bed p,
#room-cat p,
#b-rate p,
#room-no p
{
    background-color:#F0EBE8;
}

#n-bed,
#room-cat,
#b-rate,
#room-no
{
    display: flex;
    justify-content: space-between;
}
.room-details-content div p:nth-of-type(1){
    font-weight: 400;
    font-size: 12px;
}
.room-details-content div p:nth-of-type(2){
    font-weight: 600;
    font-size: 12px;
}
#room-details{
    margin: 3rem 0;
}
#room-details h2{
    font-size: 16px;
    font-weight: 600;
    line-height: 20.16px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
#total-pay,#sf,
#grand-total,#payment-options{
    display: flex;
}
#total-pay,#sf,#grand-total{
    justify-content: space-between;
}
.payment-details-content div p:nth-of-type(1){
    font-weight: 400;
    font-size: 12px;
}.payment-details-content div p:nth-of-type(2){
    font-weight: 600;
    font-size: 12px;
}
.payment-details-content{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(161, 155, 155,0.5);
    background-color:#F0EBE8;
}
#total-pay,
#total-pay p,
#sf,
#sf p,
#grand-total,
#grand-total p
{
    background-color:#F0EBE8;
}
#room-details h2,#payment-details h2,
#payment-method h2{
    font-weight: 600;
    font-size: 16px;
    margin-top: 1.5em ;
    margin-bottom: 1em ;
    margin-left: 0em;
    margin-right: 0em;
}
#grand-total p{
    font-weight: 600;
    font-size: 12px;
}
#grand-total p:last-child{
    color: #863A0A;

}
.divider{
    opacity: 0.5;
}
.button-section{
    width: 100%;
}
#book-room{
    width: inherit;
    background-color: #863A0A;
    border: transparent;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 40px;
}

