*,
::before,
::after{
    box-sizing: border-box;
  font-family: "Sora", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}
html{
    background-color: #F1F1F1;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
.home-container{
    min-width: 100%;
    background-color: #F1F1F1;
    padding: 15px;
}
nav{
    height: auto;
    padding: 5px 0px;
}
.mobile-nav{
    display: flex;
    justify-content: space-between;
}

.prof-pic{
    width: 30px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}
.prof-pic img{
    width: 30px;
    height: auto;
    border-radius: 50%;
}
.nav-icon{
    width: 25px;
    aspect-ratio: 1/1;
}
.icons{
    width: 15px;
    height: 15px;
    color: #863A0A;
}
.persona{
    overflow:hidden;
    height: auto;
    margin: 10px 0px;
}
.persona-heading{
    margin-bottom: 15px;
}
.persona-heading p{
    margin:0px;
    font-weight: 600;
    font-size: 18px;
}
.persona-heading h6{
    font-weight: 400;
    font-size: 12px;
    color: #565454;
}
.flex{
    display: flex;
    align-items: center;
}
.current-booking h2,
.m-request h2{
    font-weight: 600;
    font-size: 16px;
    line-height: 20.16px;
}
.current-booking h2{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.m-request h2{
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.top-banner{
    width: 100%;
    flex-direction: column;
    margin: 25px 0px;
}
#booked-img{
    width: 52px;
    height: 52px;
    border-radius: 5px;
}
.booked-box{
    width: 60%;
}
.hostel-booked{
    width: 100%;
    /* border: 1px solid black; */
}
.w-full{
    width: 100%;
}
.hostel-booked p{
    margin: 0;
}
.location{
    padding: 5px 0px;
}
.location-t{
    font-weight: 400;
    font-size: 12px;
    line-height: 15.12px;
}
.hostel-item{
    margin: 0.5rem 0px;
  border-bottom: 1px solid rgba(211, 208, 208, 1);
  padding: 10px 0px;
}
.p-x-2{
    padding: 0px 20px;
}
.hostel-item:last-child{
    border: none;
}
.booked-text{
    font-weight: 600;
    font-size: 12px;
}
.r-item-icon{
    width: 33.69px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-icon{
    border-radius: 50%;
    background-color: rgba(233, 211, 197, 1);
}
.gap-2{
    gap: 16px;
}
.gap-1{
    gap: 8px;
}
.col-item{
 font-weight: 600;
 font-size: 13.53px;
}

.gray-box{
    border: 1px solid rgba(161, 155, 155, 0.5);
    width: 100%;
    background-color: #F0EBE8;
    padding: 15px;
    border-radius: 10px;
}
.m-gray-box{
    border: 1px solid rgba(161, 155, 155, 0.5);
    width: 100%;
    background-color: #F0EBE8;
    border-radius: 10px;
}
.m-box{
    display: flex;
    flex-direction: column;

}
.room-desk p {
    margin: 3px 0px;

}
.dynamic-text,.fade{
    font-weight: 400;
    font-size: 12px;
    color: rgba(86, 84, 84, 1);
}
.req-box,.not-box{
    display: flex;
    align-items: center;
    padding: 10px 20px;

}
.maint-img{
    width: 35px;
    aspect-ratio: 1/1;
}
#request-chambers{
    justify-content: space-between;
    padding: 10px 20px;
}
.left-cut,.notification-area{
    gap: 15px;
}
.left-cut span p:first-child,
.notification-area span p:first-child
{
    font-weight: 600;
    font-size: 12px;
    line-height: 15.12px;
    color: rgba(40, 39, 39, 1);
    margin: 5px 0px;
}
.left-cut span p:last-child,
.notification-area span p:last-child
    {
    font-weight: 400;
    font-size: 10px;
    line-height: 19.25px;
    margin: 3px 0px ;
    color: rgba(98, 94, 94, 1);
}
.req-box p, .not-box p{
    font-weight: 600;
    font-size: 11.55px;
    line-height: 19.25px;
    color: rgba(134, 58, 10, 1);
    margin: 0;
}
.req-box span,.not-box span{
    width: 16px;
    aspect-ratio: 1/1;
}
.req-completed{
    font-size: 10px;
    font-weight: 600;
    line-height: 19.25px;
    letter-spacing: -0.02em;
    text-align: left;

}
.not-active{
    display: none;
}
#request-section{
    border-top: 1px solid  rgba(211, 208, 208, 1);
}