{% load static %}
{% load humanize %}
{% load number_to_word %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bookingsummary.css' %}">

    <title>Mountainviewprovince.com</title>
</head>
<body>
    <div class="booking-summary-container">
        <div class="breadcrumb font-sora">
            <a href="javascript:history.back()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="prev-icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
            </a>
            <p> Booking Summary </p>
        </div>

        <section id="selected-hostel">
            <div class="selected-img">
                <img id="selected-img" src="{{booking.hostel.image.url}}" alt="hostel's image" loading="lazy" style="width: 55px; height: 55px;" >

            </div>
            <div class="booked-details">
                <p class="hos-name">{{booking.hostel}}</p>
                <p class="location">
                    <span>
                       <img class="icons" src="{% static 'images/location.png' %}" alt="location icon">
                    </span>
                    {{booking.hostel.address}}
                </p>
            </div>
        </section>
        <section id="room-details">
            <h2> Room Details </h2>
            <div class="room-details-content">
                <div id="room-no">
                    <p>Room number</p>
                    <p> {{booking.room.room_number}}</p>
                </div>
                <div id="n-bed">
                    <p>No of Bed</p>
                    <p>{{ booking.room.capacity|number_to_words|title }} ({{booking.room.capacity}})</p>
                </div>
                <div id="room-cat">
                    <p>Room Category</p>
                    <p>{{booking.hostel_type}}</p>
                </div>
                <div id="b-rate">
                    <p>Booking Rate</p>
                    <p>{{booking.rate_type}}</p>
                </div>
            </div>
        </section>





        <section id="payment-details">
            <h2> Payment Details </h2>
            <div class="payment-details-content">
                <div id="total-pay">
                    {% if flexible_plan_type == 'flexible plan' %}
                    <p><strong>Rate Type :</strong> {{ booking.rate_type|title }}</p>

                    <p>&#8358 <span class="price">{{ booking.initial_payment|intcomma }}</span></p>
                     {% else %}
                    <p><strong>Rate Type :</strong> {{ booking.rate_type|title }}</p>
                        <p> &#8358<span class="price"> {{ booking.rate_price|intcomma }}</span></p>

                    {% endif %}

                </div>

                <div id="sf">
                    <p>Service Fee</p>
                    <p>&#8358 <span class="service-charge">0.00</span></p>
                </div>
                <hr class="divider">
                <div id="grand-total">
                    <p>TOTAL PAYMENT</p>
                    <p>&#8358 <span class="result">

                    </span> </p>
                </div>
            </div>
        </section>
        <section id="payment-method">
            <div id="payment-options">




                   <div class="button-section ">
                        <button onclick="makePaystackPayment()" id="p-to-pay" class="font-sora">Proceed to pay </button>
                    </div>
            </div>


        </section>


        <!-- <div class="button-section ">
            <buttononclick="makePaystackPayment()" id="p-to-pay" class="font-sora">Proceed to pay </button>
        </div>-->
    </div>


         <!-- Payment Forms -->
                           </div>
        </div>
    </div>
</div>

<script src="https://js.paystack.co/v2/inline.js"></script>

<script>






function makePaystackPayment() {
    const paystack = new PaystackPop()

    paystack.newTransaction({
        key: '{{paystack_public_key}}',
        email: '{{ booking.email }}',
        amount: {% if flexible_plan_type == 'flexible plan' %} {{booking.initial_payment }}  {% else %} {{booking.rate_price}}{% endif %}* 100,

        onSuccess: (transaction) => {

            window.location.href = "/success/{{ booking.booking_id }}/?success_id={{ booking.success_id }}&booking_total={{ booking.rate_price }}"
        },

        onCancel: () => {
            Swal.fire({
                title: 'Payment Cancelled',
                icon: 'error',
            })
        }
    });
}
</script>

            <script src="{% static 'scripts/bookingSummary.js' %}"></script>
                    <script src="{% static 'scripts/signUp.js' %}"></script>

</body>
</html>