{% load static %}
{% load humanize %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/payments.css' %}">

    <title>Mountainviewprovince.com</title>
</head>
<body>
    <div id="payment-container" >
        <h1>My Payments</h1>

        <section id="selected-hostel">
            <div>
                <img class="selected-img" src="{% static 'images/booked-img.png' %}" alt="hostel's image" loading="lazy">
            </div>
            <div class="booked-details">
                <p class="hos-name">{{booking.hostel}}</p>
                <p class="booking">30% flexible payment <p>
            </div>
        </section>
        <section class="balance-section">
            <p class="sub-total-bal">&#8358  {{booking.remaining_balance|intcomma}} </p>
            <p class="total-bal"> Total Due Balance: <span class="balance">&#8358 {{booking.remaining_balance|intcomma}}</span></p>
        </section>
        <div class="button-section ">
            <button onclick="makePaystackPayment()" id="book-room" class="font-sora">Pay Now </button>
        </div>
    </div>
    <section id="history-board">
        <div>
            <div class="payment-card flex">
                <div class="pay-box flex gap-14">
                    <img src="images/loader.svg" class="" alt="">
                    <div class="pay-info">
                        <p>Paid in <span class="date-span">{{booking.date}}</span></p>
                        <p class="h-price"> &#8358  {{booking.initial_payment|intcomma}}</p>
                    </div>
                    <!-- <img src="images/paid-icon.svg" alt=""> -->
                </div>
                <div class="pay-icon-status">
                    <img src="{% static 'images/paid-icon.svg' %}" alt="">
                </div>
            </div>

        </div>

    </section>

<script src="{% static 'scripts/mypayment.js' %}"></script>


<script src="https://js.paystack.co/v2/inline.js"></script>
<script>



function makePaystackPayment() {
    const paystack = new PaystackPop()

    paystack.newTransaction({
        key: '{{paystack_public_key}}',
        email: '{{ booking.email }}',
        amount: {{ booking.remaining_balance }} * 100,

        onSuccess: (transaction) => {
            console.log(transaction);
            window.location.href = "/outstandng_payment_success/{{ booking.booking_id }}/?success_id={{ booking.success_id }}&booking_total={{ booking.remaining_balance }}"
        },

        onCancel: () => {
            Swal.fire({
                title: 'Payment Cancelled',
                icon: 'error',
            })
        }
    });
}
</script>


</body>
</html>