*,
::before,
::after{
    box-sizing: border-box;
  font-family: "Sora", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #F1F1F1;
  /* overflow: scroll; */
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
.home-container{
    min-width: 100%;
    background-color: #F1F1F1;
    padding: 5px;
}
nav{
    height: auto;
    padding: 5px 0px;
}
.mobile-nav{
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
    /* border: 1px solid green; */
}

.prof-pic{
    width: 30px;
    aspect-ratio: 1/1;
    /* border: 1px solid green; */
    object-fit: cover;
    object-position: center;
}
.prof-pic img{
    width: 30px;
    height: auto;
    border-radius: 50%;
}
.nav-icon{
    width: 25px;
    aspect-ratio: 1/1;

    /* height: 15px; */
}
.icons{
    width: 15px;
    height: 15px;
    color: #863A0A;
}
.persona{
    overflow:hidden;
    height: auto;
    margin: 10px 0px;
}
.persona-heading{
    margin-bottom: 15px;
}
.persona-heading p{
    margin:0px;
    font-weight: 600;
    font-size: 18px;
}
.persona-heading h6{
    font-weight: 400;
    font-size: 12px;
    color: #565454;

}
.bts-card-capsule{
    display: flex;
    margin: 20px 0px;
    border-radius: 10px;
    overflow: hidden;
}
.left-cap,.right-cap{
    flex-basis: 50%;
}
.left-cap{
    background-color: #863A0A;
    padding: 15px;
    display: flex;
    align-items: center;
}
.right-cap{
    background-color: white;
}
#left-container{
    background-color: #863A0A;
    padding: 5px;
}
#left-container p{
    background-color: #863A0A;
    color: white;
    margin-top: 0px;
}
.gs-button{
    padding: 10px 5px;
    border-radius: 10px;
    border: 1px solid white;
    color: #863A0A;
    font-size: 10px;
    font-weight: 600;
}
.recom-img{
    position: relative;
    width: 100%;
}

.recom-section h2,.r-head h2{
    font-weight: 600;
    font-size: 16px;
    line-height: 20.16px;
    margin-bottom: 20px;
}
#card-row{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#card-row::-webkit-scrollbar {
    display: none;
}
.card{
    display: flex;
    flex-direction: column;
    min-width: 60%;
}
.title{
    font-weight: 600;
    font-size: 16px;
    margin: 10px 5px;
}
.location{
    font-size: 12px;
}
.p-y{
  font-weight: 400;
  font-size: 9.3px;
}
.price-tag{
    font-weight: 600;
    font-size: 10.72px;
    color: brown;
}
.rated-section{
    height: auto;
    /* border: 1px solid black; */
    margin-top: 15px;
    /* overflow: scroll; */
}
.r-title{
    margin-top: 10px;
}
.r-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rated-row-1,
.rated-row-2{
    height: auto;
    display: flex;
    overflow: scroll;
     -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 5px;
}
.rated-row-1::-webkit-scrollbar,
.rated-row-2::-webkit-scrollbar {
    display: none;
}
.rated-card{
    min-width: 80%;
    height: 78.84px;
    display: flex;
}
.rated-rows{
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}
.rated-card .card-image-box{
    flex-basis: 30%;
}
.rated-img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.r-card-content{
    flex-basis: 70%;
    padding-left: 5px;
}
.r-card-content .title-span p{
    margin: 0;
    font-weight: 600;
    font-size: 12px;
}
.r-card-content .location{
    margin: 1px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 9.52px;
}
.see-all-link{
    color: #565454;
    font-size: 12px;
}
a{
    text-decoration: none;
}