*,
::before,
::after{
    box-sizing: border-box;
    font-family: "Sora", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
}
body{
    background-color: #F1F1F1;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
.payment-successful-container{
    padding: 10px;
    height: auto;
}
.m-flex-col-b-radius{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 15%;
    background-color: #EDC7AF;
    border-radius: 50%;
    margin: 20px auto;
}
.success-bar{
    text-align: center;
    margin-top: 5em;
    margin-bottom: 3.5em;
    margin-left: 0;
    margin-right: 0;
}
.success-bar p{
    font-weight: 600;
    font-size: 18px;
}
.success-title{
    margin: 2rem 0px;
}
.icon-holder{
    position: relative;
    width: 50px;
    height: 50px;
    background-image: url("../images/success-star-blank.0386f39e5bde.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-holder::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 50%;
    background-image: url("../images/success-tick.f03a6feaca6f.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
}
#transactionID,#date,#type-of-transac,#status,#d-balance,
#amount{
    display: flex;
    justify-content: space-between;
}
#payment-details h2{
    font-weight: 600;
    font-size: 16px;
    margin: 1rem 0px;
}
.payment-details-content{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(161, 155, 155,0.5);
    background-color:#F0EBE8;
}
.payment-details-content div p:nth-of-type(1){
    font-weight: 400;
    font-size: 12px;
}
.payment-details-content div p:nth-of-type(2),a{
    font-weight: 600;
    font-size: 12px;
}
.payment-details-content div p{
    margin: 10px 0px;
}
.button-section{
    width: 100%;
    margin-top: 2rem ;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}
.m-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: inherit;
    background-color: #863A0A;
    border: transparent;
    color: white;
    padding: 20px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
}
.home_link{
    width: 100%;
    margin: 0rem 0;
    text-align: center;
}
a{
    text-decoration: none;
    color:#863A0A;
}